/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
/* 2. Remove default margin */
* {
    margin: 0;
}
body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
/* 9. Create a root stacking context */
#root, #__next {
    isolation: isolate;
}



/* Main styling */
body {
    font-family: "Roboto", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-image: url("./minimalistWallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#search-section {
    display: flex;
    padding-top: 20px;
}

#header-info, #sunrise, #wind, #feels-like {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#city {
    font-size: 1.5rem;
}

#weather-status, #time {
    font-size: 1.1rem;
}

#header-info > h1 {
    font-size: 3rem;
}

#forecast-icon {
    margin-top: 20px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
}

#misc-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#seven-day-forecast {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

#seven-day-forecast > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#miscs {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 20px;
}

.forecast-day {
    gap: 5px;
    width: 100px;
}

.forecast-logo {
    height: 25px;
    width: 25px;
}

#forecast-icon {
    height: 70px;
    width: 70px;
}

.forecast-day, #feels-like, #sunrise, #wind {
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 5px;
}

button {
    background-color: rgb(0, 0, 0, 0.5);
    padding: 3px 10px;
    border: none;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(0, 0, 0, 0.7);
}

input {
    color: white;
    border: none;
    background: transparent;
    border-bottom: white solid 2px;
}

#feels-like-temp, #sunrise-data {
    padding-top: 10px;
}