/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
/* 2. Remove default margin */
* {
    margin: 0;
}
body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
/* 9. Create a root stacking context */
#root, #__next {
    isolation: isolate;
}



/* Main styling */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#search-section {
    display: flex;
    padding-top: 20px;
}

#header-info, #sunrise, #wind, #feels-like {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#misc-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#seven-day-forecast {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

#seven-day-forecast > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#miscs {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 20px;
}

.forecast-day {
    gap: 5px;
    width: 100px;
}

.forecast-logo {
    height: 25px;
    width: 25px;
}

#forecast-icon {
    height: 40px;
    width: 40px;
}

.forecast-day, #feels-like, #sunrise, #wind {
    padding: 10px;
    background-color: rgb(166, 166, 166);
    border-radius: 5px;
}